@model E_learning_platform.Models.CourseIndexViewModel
@{
    ViewBag.Title = "Course Categories";
}
@if (ViewBag.isAdmin == true)
{
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Administrator Options
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li>@Html.ActionLink("Add Category", "Add")</li>
        </ul>
    </div>
    <br />
}
<div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Course Categories</h4>
    </a>
    @foreach (var item in Model.CategoryList)
    {
        <a href="@Url.Action("View", new {id = item.Id})" class="list-group-item">
            <h4 class="list-group-item-heading">@Html.DisplayFor(m => item.Name)</h4>
            <p class="list-group-item-text">@Html.DisplayFor(m => item.Desc)</p>
        </a>
    }
</div>
