@{
    ViewBag.Title = "E Learning Platform";
}
<h2>@ViewBag.Title.</h2>
<h3>Creators</h3>

<p>Sandeep Mishra</p>

<h3>Used Technology</h3>

<p><a href="https://www.asp.net/mvc">ASP.NET MVC</a></p>

<h3>Other Tools</h3>

<p><a href="https://www.asp.net/identity">ASP.NET Identity</a></p>
<p><a href="https://www.asp.net/entity-framework">Entity Framework</a></p>
<p><a href="http://jquery.com/">jQuery</a></p>
<p><a href="http://getbootstrap.com/">Bootstrap</a></p>
<p><a href="http://fontawesome.io/">Font Awesome</a></p>
<p><a href="http://glyphicons.com/">Glyphicons</a></p>
<p><a href="https://www.tinymce.com/">TinyMCE</a></p>

