@{
    ViewBag.Title = "E-learning";
}

<h2>E-learning</h2>

<div class="panel panel-default">
    <div class="panel-heading">Definition</div>
    <div class="panel-body">
        E-learning - teaching using computer networks and the Internet, means supporting the teaching process using personal computers, smartphones, tablets (m-learning), and the Internet. It allows you to complete a course, training, or even studies without the need for physical presence in a classroom. It also complements traditional teaching by building blended learning. E-learning is just one element of education, so real-time education covers a much broader range of services than e-learning.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Characteristics</div>
    <div class="panel-body">
        The term e-learning, like learning techniques and educational technologies, refers to the use of electronic technology in education on a much broader scale than traditional computer training or computer-assisted teaching from the mid-1980s. It is also much broader than the concepts of online teaching and education, which mean teaching only over the Internet. In the case of using mobile technologies, the term M-learning is more often used.

        E-learning is used for distance learning and flexible learning. It is often combined with traditional learning in the form of blended courses.

        Access to automated tools and teaching materials is made possible by the typical e-learning environment Virtual Learning Environment (VLE) with a navigation menu and icons.

        Especially in higher education, there is a growing trend towards creating VLE environments, which, in combination with information control systems (Managed Information System, MIS), create a managed learning environment (Managed Learning Environment). In these environments, all course-related information is transmitted through a user interface compliant with the standards applicable at the university.

        More and more traditional higher education institutions, as well as younger online higher education institutions, offer selected diploma programs over the Internet at various levels and in various fields. Usually, students are required to attend classes, but many courses are offered exclusively online. Furthermore, universities increasingly offer online support to students, such as information and registration on the network, e-counseling, textbook sales over the Internet, self-government websites, or online student newspapers.

        The offer of massive open online courses (MOOCs), which allow remote and free participation in a selected academic course, sometimes ending with an exam, is also developing. University student status is not required. You can find a catalog of English-language MOOC courses, for example, on the MOOC List website.

        E-learning can also refer to educational websites that provide lesson plans, exercise sheets, or interactive exercises for children. This term is also used in business for profitable online training.
    </div>
</div>